/*--Final Project Add Product Page Styles--*/
/*--Headers--*/
	h2{
		color:#337ab7;
		font-size:2.4em;
		font-family: 'Numans', sans-serif;
		font-weight:bold;
		margin-top:4%;
		text-align:center;}
	h3{
		font-family: 'Numans', sans-serif;
		font-weight:bold;
		margin-top:1%;
		text-align:center;}
		
/*--Add/Update Product Form--*/
	form{
		width: 400px;
		margin:0 auto;
		border-radius: 3px;
		padding-top:2em;
		padding-bottom:1em;
		background:rgba(17,17,17,.2);}
	.form-control{
		background-color:rgba(255,255,255,0.4);
		width:75%;
		margin-top:2%;}
	input[type="text"],input[type='file'],textarea{
		margin:0 auto;
		letter-spacing: 0.05em;}
	input[type='file']{
		color:#337ab7;}
	.prevUploadedImage{
		color:#337ab7;
		font-size:.9em;
		padding-left:4em;
		padding-right:4em;}
	.radio{
		text-align:center;
		font-family: 'Numans', sans-serif;}
	.radio input[type=radio]{
		position:static;
		margin-left:0px;}
	input[type=radio]{
		margin:0;}
	.note{
		font-size:.9em;
		padding-left:4em;
		padding-right:4em;
		display:inline-block;}
	#custInput li{
		list-style-type:none;
		width:400px;
		margin:0 auto;
		text-align:left;
		padding:3px;}
	#custInput{
		padding:2%;
		font-family: 'Numans', sans-serif;
		font-size:1.2em;}
	label{
		text-align:left;
		padding-left:3.2em;
		padding-right:3.2em;
		margin-bottom:.4em;
		font-size:1.1em;
		color:black;
		font-family: 'Numans', sans-serif;}

/*--Form Buttons--*/
	.formButtons{
		text-align:center;}
	.formButtons .btn{
		margin:2%;}
		
/*--Form Results--*/
	.error{
		color:#b20000;
		text-align:center;
		font-size:.9em;
		font-style:italic;}
	.check{
		font-size:1.7em;
		color:#329932;
		font-family: 'Numans', sans-serif;}
		
/*--Media Queries--*/
	@media (max-width: 1200px){
		.row{
			margin-top:8%;}
	}
	@media (max-width: 375px){
		.row{
			margin-top:11%;}
	}