/*--Final Project Login Page Styles--*/
/*--Headers--*/
	h2{
		font-size:2.8em;
		font-family: 'Numans', sans-serif;
		font-weight:bold;
		margin-top:4%;
		text-align:center;}
	h2 a{
		text-align:center;
		color:black;}
	h2 a:hover{
		text-decoration:none;}
	h3{
		color:#337ab7;
		font-family: 'Numans', sans-serif;
		font-weight:bold;
		padding-top:2%;
		text-align:center;}
/*--Login Form--*/
	#loginContainer{
		text-align:center;
		width: 400px;
		margin:0 auto;
		border-radius: 3px;
		padding-top:1em;
		padding-bottom:1em;
		background:rgba(17,17,17,.2);}
	#loginContainer h3{
		margin-top:6%;
		padding-bottom:2%;
		font-family: 'Numans', sans-serif;}
	.form-control{
		background-color:rgba(255,255,255,0.4);
		display:inline;
		width:60%;
		margin-top:2%;}
	input[type="text"],input[type="password"]{
		font-size: medium;
		letter-spacing: 0.05em; }
	.label{
		text-align:left;
		padding-left:.8em;
		margin-bottom:.4em;
		font-size:1.2em;
		color:black;}
		
/*--Login Form Buttons--*/
	.formButtons{
		text-align:center;}
	.formButtons .btn{
		margin:6% 2%;}
		
/*--Media Queries--*/
	@media (max-width:530px){
		#loginContainer{
			width:100%;}
		h2{
			font-size:1.8em;}
	}