/*--Final Project Styles--*/
/*--Main--*/
	body{
		background-color:#F2F2F2;
		letter-spacing:.04em;}
		
/*--Navigation--*/
	.navbar{
		margin-bottom:0px;
		border-bottom:thin solid grey;
		background-color:rgba(0,0,0,.5);
		font-family: 'Comfortaa', cursive;}
	.navbar-nav a,.navbar-toggle .collapsed{
		color:white;}
	.navbar-brand{
		color:black;
		font-family: 'Numans', sans-serif;
		font-size:1.1em;
		font-weight:bold;
		padding-top:9px;
		padding-bottom:8px;}
	.navbar-brand:hover{
		color:white;}
	.navbar-brand>img {
		display: inline;}
	.navbar-nav a:hover,.navbar-toggle .collapsed:hover,.navbar-nav a:active,.navbar-toggle .collapsed:active{
		color:black;}
	span.icon-bar{
		background-color:white;}
	.navbar-toggle{
		background-color:rgba(0,0,0,.5);}
	.navbar-nav .active a{
		color:black;}
	.active{
		font-style:italic;
		background-color:#F2F2F2;}
	#greeting{
		color:black;
		font-weight:bold;}
	#greeting:hover{
		background-color:transparent;
		color:black;}
		
/*--Jumbotron--*/
	.jumbotron{
		background-color: rgba(255,255,255, 0.5);
		background: -moz-linear-gradient(to top, rgba(255,255,255, 0.5), rgba(255,255,255, 0.5) 100%),url("../HomeworkPageImages/bkground6.jpg")no-repeat;
		background: -webkit-linear-gradient(to top, rgba(255,255,255, 0.5), rgba(255,255,255, 0.5) 100%),url("../HomeworkPageImages/bkground6.jpg")no-repeat;
		background: linear-gradient(to top, rgba(255,255,255, 0.5), rgba(255,255,255, 0.5) 100%),url("../HomeworkPageImages/bkground6.jpg")no-repeat;
		background-size:cover;
		margin-bottom:0px;
		min-width:100%;
		color:black;
		padding-bottom:0px;
		text-align:center;}
	.jumbotron .h1, .jumbotron h1{
		font-size:3.1em;}
	h1{
		font-family: 'Numans', sans-serif;
		font-weight:bold;
		margin-top:5%;}
	.jumbotron .contactBlock{
		margin-top:7%;}
	.jumbotron p{
		font-style:italic;
		font-size:1.6em;
		font-weight:bold;
		font-family: 'Poppins', sans-serif;}
	.jumbotron h2{
		margin-top:20px;
		margin-bottom:20px;
		font-family: 'Numans', sans-serif;}
		
/*--Main Content Cards--*/
	.mainContent{
		padding-top:4%;
		padding-bottom:2%;}
	.contactBlock{
		background-color:rgba(0,0,0,.3);
		text-align:center;
		padding-top:.5%;
		padding-bottom:.5%;
		margin-top:1%;}
	.col-sm-6{
		padding-left:0px;
		padding-right:0px;}
	.card{
		margin:10px;
		border-radius:4px;
		background-color:#D9D9D9;}
	p .btn{
		margin-bottom:3%;}
	.btn,button{
		background-color:#F2F2F2;
		color:black;
		border:2px solid #337ab7;
		border-radius:3px;
		box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);}
	.btn:hover,button:hover{
		background-color:#337ab7;
		color:white;
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);}
	.card img{
		border-radius:4px;
		width:100%;}
	.cardContent{
		padding-left:10px;
		padding-right:10px;}
	.cardBtn{
		text-align:center;}
		
/*--forms--*/
	#phony{
		display:none;}

/*-----Hidden Up Page Button-----*/
	#topButton {
	  -webkit-border-radius: 60;
	  -moz-border-radius: 60;
	  border-radius: 60px;
	  border: solid #D9D9D9 1px; 
	  font-family: Georgia;
	  color: #000000;
	  font-size: 26px;
	  font-weight:bold;
	  background: rgba(51,122,183, 0.6);
	  padding: 6px 10px 1px 10px;
	  -webkit-box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
	  -moz-box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
	  box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
	  text-decoration: none;
	  transition: 0.6s ease; }
	#topButton:hover {
		color: #000000;
		text-decoration: none;
		border: solid #337AB7 1px; 
		background: #D9D9D9;
		box-shadow: 0px 0px 0px 0px rgba(75, 75, 75, 0.5);}
	#btn2 {
	  position: fixed;
	  bottom: 8%;
	  right: 1%;
	  z-index: 50; }	
	
/*--Footer--*/
	footer{
		border-top:thin solid grey;
		background-color:rgba(0,0,0,.5);}
	.fa{
		margin-left:1%;}
	footer h6{
		font-weight:bold;
		font-style:italic;
		font-size:1.2em;
		padding-top:7%;}
	footer a{
		color:#F2F2F2;}
	#brand{
		color:black;
		font-family: 'Numans', sans-serif;
		font-weight:bold;}
	.slogan{
		font-weight:bold;
		font-style:italic;
		font-size:1.2em;}
	#copyright{
		text-align:center;
		font-size:1.1em;
		font-weight:bold;
		padding:2%;}
	#copyright strong{
		color:black;
		font-family: 'Numans', sans-serif;}
	#brand:hover, #copyright a:hover{
		text-decoration:none;}

/*--Media Queries--*/
/*--Navigation Collapse Break Point @ 1140px--*/
	@media (max-width: 1140px) {
		.navbar-header {
			float: none;}
		.navbar-toggle {
			display: block;}
		.navbar-collapse {
			border-top: 1px solid transparent;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
		.navbar-collapse.collapse {
			display: none!important;}
		.navbar-nav {
			float: none!important;
			margin: 7.5px -15px;}
		.navbar-nav>li {
			float: none;}
		.navbar-nav>li>a {
			padding-top: 10px;
			padding-bottom: 10px;}
		.navbar-collapse.collapse.in{
			display: block !important;}
		.navbar-collapse.collapse{
			display: none !important;}
	}
	@media (max-width: 991px) {
		.col-sm-6 {
			width: 100%;}
	}
	@media (max-width: 500px) {
		.jumbotron .h1, .jumbotron h1{
			font-size:2.2em;}
	}
